<div class="modal">
  <h2 mat-dialog-title class="modal-title">
    {{ data?.modo === 'editar' ? 'Editar voto' : 'Confirmar voto' }}
  </h2>

  <div mat-dialog-content class="modal-content">
    <p class="modal-text">
      {{
        data?.modo === 'editar'
          ? '¿Quieres cambiar tu voto a esta opción?'
          : '¿Seguro que quieres votar esta opción?'
      }}
    </p>

    <div class="card-info">
      <p class="opcion">
        <strong>{{ data?.nominacionDescripcion }}</strong>
      </p>

      <p class="categoria">
        <small>Categoría: {{ data?.categoriaNombre }}</small>
      </p>
    </div>
  </div>

  <div mat-dialog-actions class="modal-actions">
    <button mat-button class="btn-cancel" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button class="btn-primary" (click)="confirmar()">
      {{ data?.modo === 'editar' ? 'Sí, cambiar' : 'Sí, votar' }}
    </button>
  </div>
</div>
